<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.pirtail.piratilgame">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".Class.Font"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:windowSoftInputMode="stateHidden|adjustPan"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".Gamer.Activity.FaqActivity"
            android:theme="@style/AppThemeRed"/>

        <activity android:name=".Gamer.Activity.RulsActivity"
            android:theme="@style/AppThemeRed" />

        <activity android:name=".Gamer.Activity.AboutUsActivity"
            android:theme="@style/AppThemeRed" />

        <activity android:name=".Gamer.Activity.SocialNetworksActivity"
            android:theme="@style/AppThemeRed" />

        <activity android:name=".Gamer.Activity.ReportActivity"
            android:theme="@style/AppThemeRed" />

        <activity android:name=".Gamer.Activity.SettingsActivity"
            android:theme="@style/AppThemeRed" />

        <activity
            android:name=".Gamer.Activity.ProfileActivity"
            android:theme="@style/AppThemeRed" />
        <activity
            android:name=".Gamer.Activity.RankingActivity"
            android:theme="@style/AppThemeOrange" />
        <activity
            android:name=".Gamer.Activity.MenuActivity"
            android:theme="@style/AppThemeRed" />
        <activity
            android:name=".Gamer.Activity.MapActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWhite" />
        <activity
            android:name=".Gamer.Activity.EnterCodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Gamer.Activity.View_pager"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeRed" />
        <activity
            android:name=".Gamer.Activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWhite">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Gamer.Activity.Register"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWhite" />
        <activity
            android:name=".Gamer.Activity.PhoneEnterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWhite" />
    </application>

</manifest>